.customer-review-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    text-transform: uppercase;
    color: white;
}
.customer-review-title1 {
    color: rgb(241, 188, 134);
    margin-left: 10px;
}
.review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}
.review-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    column-gap: 15px;
    width: 80%;
}
.review-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 360px;
    height: 370px;
    border: 1px solid gray;
}
.straight-quotes {
    width: 50px;   
}
.customer-image {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 55px;
    margin-top: 10px;
}
.review-parag {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    width: 340px;
    text-align: center;
    margin-top: 13px;
}
.reviewer-name {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.fa-star {
    color: #f1bc86;
}
.fa-half-star {
    color: #f1bc86;
}
@media (max-width: 1140px) {
    .review-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;  
    }
}

@media (min-width: 712px) and (max-width: 773px) {
    .review-grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;  
        place-items: center;
    }   
} 

@media (max-width: 711px) {
    .review-grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;  
        place-items: center;
    }  
}